$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
$title-color: #2e3c40;
$subtitle-color: #151a1b;
$desc-color: #33414a;
$base-color1: #ff6360;
$base-color2: #243a98;
$bg-ash-color: #f9f9f9;
$border-color: #ececec;
$white: #fff;
$black: #000;
$meta-color: #8a8a8a;

// social-media
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #007bb5;



//== Typography
$ff-title:  'Poppins', sans-serif;
$ff-desc: 'Source Sans Pro', sans-serif;
$fs-base:   16px !default;
$fs-large:	1.06em; 
$fs-small: 	0.93em;
$fs-h1:		3em;//  48px;
$fs-h2: 	2.375em;//  38px;	
$fs-h3: 	1.875em; //   30px;		
$fs-h4: 	1.5em; // 24px;		
$fs-h5: 	1.25em; // 20px;		
$fs-h6: 	1.125em; // 18px;


