

.translateY-60 {
  @include breakpoint(lg){
    transform: translateY(-60px);
  }
}

.pricing-section {
  overflow: hidden;
}

// pricing section
.axsis-price-control {
  li {
    a {
      padding: 13px 30px;
      border: 1px solid #eaeaea;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      &.active {
        background-color: $base-color;
        color: $white;
        border-color: $base-color;
      }
    }
    &:first-child {
    	a {
    		@include border-radius(3px 0px 0px 3px);
    	}
    }
    &:last-child {
    	a {
    		@include border-radius(0px 3px 3px 0px);
    	}
    }
  }
}

.axsis-pricing-item {
	padding: 35px 20px 25px 20px;
  -webkit-box-shadow: 0 0 10px rgba(#0c002e,0.06);
  -moz-box-shadow: 0 0 10px rgba(#0c002e,0.06);
  box-shadow: 0 0 10px rgba(#0c002e,0.06);
  background-color: $white;
  @include border-radius(10px);
  @include transition(0.3s);
  overflow: hidden;
  .pricing-head {
    padding: 6px 20px;
    @include breakpoint(xxl-desktop){
      padding: 15px 20px;
    }
    .category-type span {
      font-size: 22px;
      color: #273167;
      font-weight: 700;
      display: inline-block;
      font-family: $ff-montserrat;
    }
    .price {
      font-size: 65px;
      color: $base-color;
      font-weight: 300;
      display: inline-block;
      position: relative;
      @include transition(0.3s);
      .dollar-sign {
        font-size: 36px;
        color: $base-color;
        font-weight: 400;
        position: absolute;
        left: -20px;
        top: 16px;
        @include transition(0.3s);
      }
      .per-time {
        font-size: 18px;
        color: #363636;
        font-weight: 400;
        margin-left: -15px;
      }
      @include breakpoint(xxl-desktop){
        font-size: 80px;
      }
    }
    .free-trial-content {
    	color: #ada9a9;
    	font-size: 13px;
    	margin-bottom: 0;
    }
  }
  .pricing-body {
  	padding: 6px 0;
    .pricing-feature-list {
      margin-bottom: 20px;
      li {
        line-height: 2.4;
        font-size: 15px;
      }
    }
    .custom-btn {
      color: $white;
      background-color: $base-color;
      padding: 9px 35px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
      text-transform: capitalize;
     @include breakpoint(sm){
        padding: 15px 35px;
      }
    }
    .hidden-charge {
    	font-size: 14px;
    	color: #777b92;
    	letter-spacing: 3px;
    	text-transform: uppercase;
    	margin-bottom: 0;
    }
    @include breakpoint(xxl-desktop){
      padding: 15px 0;
      .pricing-feature-list {
        margin-bottom: 25px;
        li {
          font-size: 16px;
          line-height: 2.7;
        }
      }
    }
  }
  &:hover,&.active {
    .pricing-head {
      .price,.price .dollar-sign,.price {
        color: #8dc63f;
      }
    }
    .pricing-body {
      .custom-btn {
        background-color: #8dc63f;
        border-color: #8dc63f;
        color: #fff;
      }
    }
  }
  
}

.active {
	>.axsis-pricing-item {
		.pricing-head {
	      .dollar-sign,.price {
	        color: #8dc63f;
	      }
	    }
	    .pricing-body {
	      .custom-btn {
	        background-color: #8dc63f;
	        border-color: #8dc63f;
	        color: #fff;
	      }
	    }
	}
}

.col-md-6 {
  &.roundShape4 {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -140px;
      top: -85px;
      width: 150px;
      height: 150px;
      background-image: url(../images/roundShape2.png);
      background-size: cover;
      z-index: -1;
      @include breakpoint(lg){
        width: 300px;
        height: 300px;
      }
    }
  }
  &.doubleRoundshape {
    &:before {
      content: '';
      position: absolute;
      right: -25%;
      bottom: 80px;
      width: 150px;
      height: 150px;
      background-color: #e5e3fb;
      border-radius: 50%;
      z-index: -1;
       @include breakpoint(lg){
        width: 300px;
        height: 300px;
      }
    }
    &:after {
      content: '';
      position: absolute;
      right: -50%;
      bottom: 25%;
      width: 150px;
      height: 150px;
      background-image: url(../images/circle-shape2.png);
      background-size: cover;
      z-index: -1;
       @include breakpoint(lg){
        width: 300px;
        height: 300px;
      }
    }
  }
}




.home3 {
  .axsis-price-control li a.active {
      background-color: #01d85f;
      color: #fff;
      border-color: #01d85f;
  }
  .active {
    >.axsis-pricing-item {
      .pricing-head {
          .dollar-sign,.price {
            color: #01d85f;
          }
        }
        .pricing-body {
          .custom-btn {
            background-color: #01d85f;
            border-color: #01d85f;
            color: #fff;
          }
        }
    }
  }
}



.pricing-section.style3 {
  .axsis-price-control {
    border: 1px solid #eaeaea;
    border-radius: 40px;
    background-color: #f2f4f6;
    padding: 5px;
    box-shadow: 0 0 30px 0 rgba(black, 0.1);
    li {
      a {
        border-radius: 40px !important;
        border: none;
        padding: 10px 30px !important;
        @include breakpoint(sm){
           padding: 15px 60px !important;
        }
      }
    }
  }
}



//axsis-pricing-item style2
.axsis-pricing-item.style2 {
  background-color: transparent;
  border: 1px solid #1a3580;
  .pricing-head {
    padding: 0 10px;
    @include breakpoint(xxl-desktop){
      padding: 0 10px;
    }
    .category-type span {
      font-size: 22px;
      background: -webkit-linear-gradient(45deg,#0545d4 0%, #083bac 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;
      display: inline-block;
      font-family: $ff-montserrat;
    }
    .price {
      font-size: 65px;
      color: #99bffb;
      font-weight: 300;
      display: inline-block;
      position: relative;
      line-height: 1.6;
      @include transition(0.3s);
      .dollar-sign {
        font-size: 36px;
        color: #99bffb;
        font-weight: 400;
        position: absolute;
        left: -20px;
        top: 16px;
        @include transition(0.3s);
      }
      .per-time {
        font-size: 18px;
        color: #99bffb;
        font-weight: 400;
        margin-left: -15px;
      }
      @include breakpoint(xxl-desktop){
        font-size: 80px;
      }
    }
  }
  .pricing-body {
  	padding: 0 0;
    .pricing-feature-list {
      margin-bottom: 20px;
      li {
        line-height: 2.4;
        font-size: 15px;
        color: #99bffb;
      }
    }
    .custom-btn {
      color: #1a3580;
      background-color: transparent;
      border: 1px solid #1a3580;
      padding: 9px 35px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
      text-transform: capitalize;
      @include transition(0.1s);
     @include breakpoint(xxl-desktop){
        padding: 9px 35px;
      }
    }
    @include breakpoint(xxl-desktop){
      padding: 0 0;
      .pricing-feature-list {
        margin-bottom: 30px;
        li {
          font-size: 14px;
          line-height: 2.8;
        }
      }
    }
  }
  &:hover {
    background-color: #061f57;
    border-color: #061f57;
    .pricing-head {
      .category-type,.price,.price .dollar-sign,.price {
        background: -webkit-linear-gradient(45deg,#bb2970 0%, #ec5969 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .pricing-body {
      .custom-btn {
        background: linear-gradient(to left, #bb2970 0%, #ec5969 100%);
        border: 1px solid transparent;
        color: #fff;
      }
    }
  }
}

.active {
  .axsis-pricing-item.style2 {
    background-color: #061f57;
    border-color: #061f57;
    .pricing-head {
      .category-type,.price,.price .dollar-sign,.price {
        background: -webkit-linear-gradient(45deg,#bb2970 0%, #ec5969 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .pricing-body {
      .custom-btn {
        background: linear-gradient(to left, #bb2970 0%, #ec5969 100%);
        border: 1px solid transparent;
        color: #fff;
      }
    }
  }
}